*{
    margin: 0;
    padding: 0;
}

/* for background image  */
body{
    /* background-image: url('img/bg2.png') no-repeat center center/cover; */
    box-sizing: border-box;
    background: linear-gradient(180deg,#65DDEF,#C9F6FF);
    /* background-blend-mode: multiply; */
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: 100%;
    overflow-x: hidden;
}

/* @media screen and (max-width: 420px){
    body{transform:rotate(90deg)};
} */

#navbar{
    display: flex;
    position: relative;
    align-items: center; 
    height:4rem;
    width: 100vw;
    /* background-color: #46d8d8; */
}


.logo{
    margin: 10px 10px;
    
}

.logo img{
    margin: 10px 10px;
    height: 51px;
}

/* for black strip behind navigator */
#navbar::before{
    content: "";
    background-color: black;
    opacity: 0.1; 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul{
    display: flex;  
}

#navbar ul li{
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-size: 1.4rem;
 }

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 11px ;
    text-decoration: none;
    font-weight: bold;

}

#navbar ul li a:hover{
    color:rgb(230, 230, 230);
}


/* for game title */

main{
    
    min-height: calc(100vh - 4rem - 50px);
    width: 100%;
}

.gametitle{     
    /* display: flex; */
    padding: 4rem 1rem;
    /* height:10rem; */
    /* width: 25rem; */
    /* margin: auto; */
    /* justify-content: center; */
    /* align-items: center; */
    
}

.gametitle h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5.6rem;
    font-style:oblique;
    text-align: center;
    line-height: 5.6rem;
    color: white;
    text-shadow: 4px 4px black;
    transform: rotate(-5deg);
    
}



/* for GUIDE */

.guide{
    display: flex;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,75px);
}

.guide div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.guide div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;

}

.guide div:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;

}


.guide div{
    background-color: rgb(0,0,0,0.12);
}

.guide div i{
    font-size: 2rem;
    color: white;
}

.guideInfo{
    text-align: center;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* For About Us section */
.aboutInfo{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.aboutImgContainer{
    width: 100%;
    height: 270px;
    margin: 10px 0px 0px 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}


.aboutImg{
    width: 270px;
    position: absolute;
    animation-name: bike;
    bottom: 0px;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    overflow: hidden;
    transform-origin: 200px 90px  ;
}

.aboutImg2{
    width: 200px;
    position: absolute;
    overflow: hidden;
    right: 6px;
    bottom: 0px;

}


.road{
    height: 6px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

@keyframes bike {
    from{
        left: -270px;
        transform: rotate(0deg);
    }
    to{
        left:101%;
        transform: rotate(20deg)

    }
  }


footer{
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    text-align: center;
    width: 100vw;

    letter-spacing: 2px;
    
}

.aboutMe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: 2PX solid black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    border-radius: 7px;
    margin: 20px 0px 5px 0px;
    padding: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s linear;
    transition: color 0.5s linear;

}

.aboutMe a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.arrangement{
    display: flex;
    justify-content: center;
    align-items: center;

}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0px 0px 0px 50px;
}

.iControl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgb(0, 0, 0);
    font-size:  1.5rem;
    transition: background-color 0.3s ease;
}

.iControl a{
    transition: color 0.3s ease;
    color: rgb(0, 0, 0); 
}

.iControl a:hover{
    color: rgb(255, 255, 255); 
}

.iControl:hover{
    background-color:rgba(0, 0, 0, 0.3) ;
    color: white;
}

.rt{
    border-radius: 9px 9px 0px 0px;
}

.rb{ 
    border-radius: 0px 0px 9px 9px;
}


@media only screen and (max-width:400px) {
    .aboutImg2{
        display: none;
    }
    
    .arrangement{
        flex-direction: column-reverse;
    }

    .links{
        flex-direction: row;
        margin: 10px 0px 15px 0px ;
    }
    
    .rt{
        border-radius: 9px 0px 0px 9px;
    }

    .rb{
        border-radius: 0px 9px 9px 0px;
    }
    
}


